%h1 create a new task
= simple_form_for @task do |f|
  = f.input :title
  = f.input :description
  = f.input :priority
  = f.input :status, collection: ["未着手", "着手", "完了"]
  = f.input :finish_at
  = f.button :submit
